@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Limelight|Merienda');
*{
/*  margin: 0px;*/
    box-sizing: border-box;
}
body, p {
    font-family: 'Libre Franklin', sans-serif;
  }
header {
 font-family: 'Permanent Marker', cursive;
 background-color: #2B2D42;
 color: #E31010;
 height: 350px;
  font-size: 1.rem;
  display: flex;
  flex-direction: column;
  /*justify-content:center;*/
  align-items: center;
  }

#main {
/*  height: calc(100vh - 100px);*/
    
    display: flex;
}
nav {
  width: 10%;
  background-color: #E31010; 
  overflow: hidden;
  text-align: left;
  border: thick grey solid; 
  flex-direction: row-reverse;
  }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
}

nav li {
  font-size: 1.5rem;
  margin: 10px 0;
}

nav a {
  text-decoration: none;
  color: #EDF2F4;
}

nav a:hover {
  text-decoration: underline; 
  
}
  #content {
  width: 90%;
/*  overflow-y: scroll;*/
}

.card {
  background-color: #2B2D42;
  color: #EDF2F4;
  margin: 0px;
  box-shadow: 5px 5px 10px #8B8989;
  display: flex;
  align-items: center; 
  border: thick grey solid;
  }
  
.card-reverse {
  flex-direction: row-reverse;
}

/*.card-image img { */
/*  margin: 0 80px;*/
/*  height: auto; */
/*}*/

/*.card-image img {*/
/*  width: 80%;*/
/*  height: 80%;*/
/*}*/

.card-text {
  margin: 5px 5px;
}

footer {
  background-color: #2B2D42;
  color: #EDF2F4;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
